/*

Css

*/

ul {
  list-style-type: none;
}

article{
	display:block;
	
}	
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}
}
body{
	background:#f9f3f8;
	font-family: 'Raleway', sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
    margin: 0px; 
	padding: 0px;
}
.navbar-brand{
	position: relative;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-inner {
    min-height: 0px;

}

.navbar .navbar-nav {
    display: inline-block;
    float: left;
	font-size: 15px;
	height: 30px;
	padding: 0 0 0 0;
	margin: 0 10px 10px 280px ;

}

.navbar .navbar-collapse {
  text-align: center;

}

section{
	display:block;
	text-align:left;
}

#main{
	margin-left: 30%;
	padding: 2em 2em 2em 2em;
	width: calc(100% - 35%);
	box-sizing: border-box;
}
#main > section {
	border-top: solid 1px #715464;
	margin: 0em 0 0 0;
	padding: 3em 0 0em 0;
}

#header{
	display: flex;
	flex-direction:column;
	align-items: flex-end;
	background-color: #d7c6cf;
	background-attachment: scroll;
	background-image: url("../../images/tumblr_static_efv3bwozab4s4s88c8g0okk84.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: auto 30%;
	height: 100%;
	left:0;
	padding: 8em 1em;
	position: fixed;
	text-align: center;
	top: 0;
	width: 25%;
}


.contact{
	margin-right: 0px;
	display:inline-block;
	height: 100%;
	position: relative;
	text-align: right;
	width: auto;	
}

.contact img{
	float:right;
	display: inline-block;
	width:20%;
	height:auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	left: 0px;
	top:0px;
	
}
.img-circle{
	padding-right: 25px;
	border-radius: 50%;
	width: 220px;
	height: auto;
	
}

article img{
		max-height: auto;
		max-width:100%;
		width: 350px;
		padding-top: 0px;
		margin: 0px;
		margin-bottom: 50px;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border: solid 5px;
		color: #715464;	

	}
article img.badminton{
		max-height: auto;
		max-width:100%;
		width: 350px;
		padding-top: 0px;
		margin: 0px;
		margin-bottom: 50px;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border: solid 5px;
		color: #715464;	

	}	

a img.improved
{
		max-height: auto;
		max-width:100%;
		width: 550px;
		padding-top: 0px;
		margin: 0px;
		margin-bottom: 50px;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border: solid 5px;
		color: #715464;	
}

article img:hover {
	border-color: transparent;

}

article img.badminton:hover {
	border-color: transparent;
	
}
	p {
		margin: 0 0 2em 0;
	}

	h2, h3{
		color: #715464;
		font-weight: 400;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

	
	.row {
		border-bottom: solid 1px black;

	}

header h2{
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	color: #715464;
}


@media screen and (max-width: 980px) {

	h1 br, h2 br, h3 br {
		display: none;
	}

	#header {
		background-attachment: scroll;
		background-position: top left, center center;
		background-size: auto,		cover;
		left: auto;
		padding: 6em 4em;
		position: relative;
		text-align: center;
		top: auto;
		width: 100%;
		display: block;
	}

	#header h1 br {
		display: inline;
	}
	
	#main {
		margin: 0;
		padding: 6em 4em;
		width: 100%;
	}

@media screen and (max-width: 736px) {


	h2 {
		font-size: 1.2em;
	}
	h3 {
		font-size: 1em;
	}
	
	h2.about, article.blog h3{
		text-align: center;
	}

	header.major h2 {
		font-size: 1.35em;
		text-align: center;
	}


	ul.labeled-icons li {
		padding-left: 2em;
	}

		ul.labeled-icons li h3 {
			line-height: 1.75em;
		}


	#header {
		padding: 2.25em 1.5em;
	}


	#main {
		padding: 2.25em 1.5em 0.25em 1.5em;
	}

		#main > section {
			margin: 2.25em 0 0 0;
			padding: 2.25em 0 0 0;
		}

	}
	
	.navbar .navbar-nav {
    display: inline-block;
    float: none;
	font-size: 15px;
	height: 30px;
	padding:0;
	margin: 0;

}
	.navbar .navbar-collapse {
	text-align: center;
	}

@media screen and (max-width: 480px) {


/* Header */

	#header {
		padding: 4.5em 1.5em;
	}

	#header h1 br {
		display: none;
	}

